<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Large</mat-card-subtitle>
      <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.

    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.

    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.

    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.

    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
  </mat-card-content>

  <mat-card-footer>
    <mat-chip-set class="example-chip" cdkDropList cdkDropListOrientation="horizontal">
      <mat-chip color="pink" class="example-box" cdkDrag>
        PHP
      </mat-chip>

      <mat-chip color="lightblue" class="example-box" cdkDrag>
        Angular
      </mat-chip>

      <mat-chip color="tomato">
        NodeJs
      </mat-chip>

    </mat-chip-set>
  </mat-card-footer>


</mat-card>
