<p>blog-page works!</p>


<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-single-blog></app-single-blog>
  </mat-grid-tile>
</mat-grid-list>
